@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/

body {
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

.content {
   padding: 70px 0;
}

.container {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
}

.content__card {
   width: 100%;
   max-width: 360px;
   margin: 0 auto;
   padding: 20px;
   border: 2px #359d93 solid;
   border-bottom-right-radius: 20px;
   border-top-left-radius: 20px;
   text-align: center;
}

.content__number {
   text-transform: uppercase;
   font-weight: 500;
}

.content__img{
   margin: 25px 0px 0px 0px;
}
.content__img img {
   max-width: 150px;
   border: 2px #eebd6b solid;
   border-radius: 50%;
}

.content__author {
   font-weight: 100;
   margin: 15px 0px 0px 0px;
}

.content__text {
   font-weight: 500;
   margin: 10px 0px 0px 0px;
}

.content__navigation {
   margin: 25px 0px 0px 0px;
}

.content__button {}

.btn {
   background-color: transparent;
   border: 1px #bfe6ef solid;
   border-radius: 5px;
   max-width: 150px;
   height: 30px;
   padding: 5px;

}

.content__random {
   margin: 10px 0px 0px 0px;
}